
@model CRM.ViewModels.Admin.EmptyAssignToNewRequestListViewModel



@using (Html.BeginCollectionItem("model"))
{

    @Html.HiddenFor(m=>m.Id)
<tr>
    <td>@Model.Id</td>
    <td>@Model.Request</td>

    <td>

        <a data-modal-view="true"
           data-modal-size="modal-xl"
           data-modal-title="Açıklama"
           class="btn btn-block "
           href="@Url.Action("Description", "NewRequest", routeValues: new {Area = string.Empty,id=Model.Id})">
            <i class=""></i>Açıklamayı Gör
        </a>

    </td>

    <td>@Model.Priority</td>
    <td>@Model.RequestorName</td>

    <td>@Model.AssignTo</td>
    <td>@Model.Deadline.GetValueOrDefault().ToString("dd-MM-yyyy")</td>
    <td>
        @Html.CheckBoxFor(m => m.Checked)
        @*<div class="form-check che">
                <label for="myCheck"></label>
                <input class="check" data-id="@Model.Id" type="checkbox" name="@Html.NameFor(m=>m.Checked)" checked="@Model.Checked">
            </div>*@
    </td>
</tr>
}
